<!DOCTYPE HTML>
<html>

<head>
  <title>E -MDashboard</title>
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <script src="https://www.gstatic.com/firebasejs/3.8.0/firebase.js"></script>
  <script src = "js/jquery-3.1.1.min.js"></script>
  <script src = "js/firebaseapp.js"></script>
  <script>
  
  function admin(){
   $("#adminwelcome").show();
   $("#adminmenu").show();
   $("#staffwelcome").hide();
   $("#staffmenu").hide();
  }
  
  
  function staff(){
  $("#adminwelcome").hide();
   $("#adminmenu").hide();
   $("#staffwelcome").show();
   $("#staffmenu").show();
   
  }
  
  firebase.auth().onAuthStateChanged(function(user) {
  if (user) {
    var userId = firebase.auth().currentUser.uid;
	firebase.database().ref('users').child(userId).once('value').then(function(snapshot) {
	var userdetail = snapshot.val();
	var fullname = userdetail["Fullname"];
	var username = userdetail["Username"];
	var level = userdetail["level"];
	if(level == 2){
	admin()
	} else{
	staff()
	}
	
	});

  } else {
	window.location = "/"
  }
  
  });
  

  </script>
</head>

<body>

  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <h1><a href="index.html">E - <span class="logo_colour">MTracker</span></a></h1>
          <h2>A maintenance and repairs Tracker.</h2>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <li class="selected"><a href="#">Home</a></li>
		  <span id = "adminmenu"> 
		  <li><a href="/maintenance">Maintenance Requests</a></li>
          <li><a href="/signup">Staffs</a></li>
		  </span>
		  <span id = "staffmenu">
		  <li><a href="/maintenance">Maintenance Requests</a></li>
          <li><a href="#">Notifications(0)</a></li>
		  </span>
          <li><a href = "#" onclick = "signOut()">Sign Out</a></li>
        
        </ul>
      </div>
    </div>
    <div id="content_header"></div>
    <div id="site_content">
      
      <div id="content">
	  <div id = "adminwelcome" class = "welcomemsg">
       Welcome Admin to E-MTracker, as admin you can:
	   view all maintenance / repairs requests <br>
	   can approve/reject a repair/maintenance request and also provide comments. <br>
	   add names and contacts (phone number) for the people doing maintenance. 
	   </div>
	   
	   <div id = "staffwelcome" class = "welcomemsg">
       Welcome Username to Staff E-MTracker Dashboard, as staff you can:
	   Create maintenance / repairs requests <br>
	   
	   </div>
	   <br>
	   <br>
	   <br>
	   <br>
	   <br>
	   <br>
	   <br>
	   <br>
	   <br>
	   <br>
	   <br>
	   <br>
	   <br>
	   <br>
	   <br>
	   <br>
	   <br>
	   <br>
	   <br>
	   <br>
	   <br>
	   <br>
	   <form>
	   
	   </form>
      
		
        
      </div>
    </div>
    <div id="content_footer"></div>
    <div id="footer">
       
      <p>Copyright &copy; E-MTracker 2017 </p>
    </div>
  </div>
  <script>
 
  
  function signOut(){
  firebase.auth().signOut().then(function() {
  window.location = "/signin"
  console.log('Signed Out');
}, function(error) {
  console.error('Sign Out Error', error);
  window.location = "/"
});
  }
  
 firebase.auth().onAuthStateChanged(function(user) {
  if (user) {
    // User is signed in.
    var uid = user.uid;
  } else {
	window.location = "/"
  }
});

  </script>
</body>
</html>
