<!DOCTYPE HTML>
<html>

<head>
  <title>E - Maintenance</title>
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <script src="https://www.gstatic.com/firebasejs/3.8.0/firebase.js"></script>
  <script src = "js/jquery-3.1.1.min.js"></script>
  <script src = "js/firebaseapp.js"></script>
  <script>
  firebase.auth().onAuthStateChanged(function(user) {
  if (user) {
    window.location = "/dashboard"

	console.log(firebase.auth().currentUser)
  } else {
	
  }
});
  </script>
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <h1><a href="index.html">E - <span class="logo_colour">MTracker</span></a></h1>
          <h2>A maintenance and repairs Tracker.</h2>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <li class="selected"><a href="#">Home</a></li>
          <li><a href="/signin">Sign In</a></li>
          <li><a href="/signup">Sign up</a></li>
          
        
        </ul>
      </div>
    </div>
    <div id="content_header"></div>
    <div id="site_content">
      
      <div id="content">
       
      
		<img src = "images/repairs-and-maintenance.jpg" alt = "maintenance pics">
		<p>E-MTracker is system that allow reporting of maintenance and repairs request.
		And also to track the maintenance process and escalate unusual delays.  </p>
        
      </div>
    </div>
    <div id="content_footer"></div>
    <div id="footer">
       <p><a href="/">Home</a> | <a href="/signup">Sign up</a> | <a href="/signin">Sign In</a>
      <p>Copyright &copy; E-MTracker 2017 </p>
    </div>
  </div>
</body>
</html>
