<!DOCTYPE HTML>
<html>

<head>
  <title>E -Maintenance</title>
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <script src="https://www.gstatic.com/firebasejs/3.8.0/firebase.js"></script>
  <script src = "js/jquery-3.1.1.min.js"></script>
  <script src = "js/firebaseapp.js"></script>
   <script>
  function signOut(){
  firebase.auth().signOut().then(function() {
  window.location = "/signin"
  console.log('Signed Out');
}, function(error) {
  console.error('Sign Out Error', error);
  window.location = "/"
});
  }
  
 firebase.auth().onAuthStateChanged(function(user) {
  if (user) {
    // User is signed in.
    var uid = user.uid;
  } else {
	window.location = "/"
  }
});

  </script>
  
  <script>
function comment(usertoken,akey){

  $(document).on('click', '.comment', function() {
  
    var com = $(this).prevAll("textarea").val();
	
firebase.database().ref("requests").child(akey).child(usertoken).update({
comment: com
});
location.reload()
   
	
  });
 

  }
  
  
  
  
  function loadreq(){
   
  firebase.auth().onAuthStateChanged(function(user) {
  if (user) {
 
  var dbref = firebase.database().ref("requests")
  var user = firebase.auth().currentUser;
  var usertoken = user.uid;
  
  dbref.child(usertoken).on('value', function(snapshot) {
  var data = snapshot.val();
   $("table #tbl").remove();
  for(prop in data){
  var markup = "<tr id = 'tbl'><td>" + data[prop]['equipment'] + "</td><td>" + data[prop]['description'] + "</td><td>" + data[prop]['details'] + "</td><td>" + data[prop]['date'] + "</td><td>" + data[prop]['status'] + "</td><td>" + data[prop]['comment'] + "</td></tr>";
           $("table").append(markup);
          
		   
		   
  }
});
}
})
 
  }
  
   
  
   function createrep(){
  var equip = $("#equpid").val()
  var describe = $("#description").val()
  var detail = $("#detail").val()
  var depart = $("#department").val()
  var d = new Date;
  var today = d.getFullYear() + '/' + ('0'+(d.getMonth()+1)).slice(-2) + '/' + ('0'+d.getDate()).slice(-2);
  var dbref = firebase.database().ref("requests")
  var user = firebase.auth().currentUser;
  var userId = user.uid;
  var dbkey = dbref.child(userId).push().key;
  dbref.child(userId).child(dbkey).update({
  equipment: equip,
  description: describe,
  details: detail,
  date: today,
  status: "pending",
  comment: "none",
  department: depart,
  approved: "false",
  reject: "false",
  assigned: "none",
  akey: dbkey,
  userid: userId
  });

  alert("Your Request Have been Created")
  $("#equpid").val("")
  $("#description").val("")
  $("#detail").val("")
  $("#department").val("")
  
  
  }
  

  function adminloadreq(){
   
  firebase.auth().onAuthStateChanged(function(user) {
  if (user) {
  var dbref = firebase.database().ref("requests")
  dbref.on('value', function(snapshot) {
  var data = snapshot.val();
 // console.log(snapshot.val());
  for(prop in data){
  ndata = data[prop]
  for(nprop in ndata){
  //console.log(ndata.key())
  var nkey = ndata[nprop]['akey'] 
  var ukey = ndata[nprop]['userid']
  var markup = "<tr id = 'tbl'><td>" + ndata[nprop]['equipment'] + "</td><td>" + ndata[nprop]['description'] + "</td><td>" + ndata[nprop]['details'] + "</td><td>" + ndata[nprop]['date'] + "</td><td>" + ndata[nprop]['status'] + "</td><td>" + ndata[nprop]['comment'] + "</td><td>" + ndata[nprop]['department'] + "</td></tr>";
  var markup2 = '<td><button id = "approve" class = "action" onclick = "approve(\'' + nkey + '\',\'' + ukey +  '\')"> Approve</button><br><br></td>' 
  var markup3 = '<td><button id = "reject" class = "action" onclick = "reject(\'' + nkey + '\',\'' + ukey +  '\')"> Reject</button><br><br></td>'
  var markup4 = "<td>Name: &nbsp&nbsp <input type = 'text' id = 'repairname' placeholder = 'Input the name of repairer'><br> <br>Phone No: <input type = 'text' id = 'repairnum' placeholder = 'Phone Number'><button id = 'Assign' class = 'action' onclick = 'addrepair()'>Add Repairer</button><br><br></td>" 
  var markup5 = '<td><textarea placeholder = "Add Comment" class = "commentbox"></textarea><br><br><button class = "comment action" onclick = "comment(\'' + nkey + '\',\'' + ukey +  '\')"> Add Comment</button><br><br></td></tr>'
  //var markup6 = "<input type = 'hidden' value = n
  var markupi;
  
  if (ndata[nprop]['approved'] == "true"){
  markupi = markup4 + markup5
  } else if(ndata[nprop]['reject'] == "true"){
  markupi = markup5
  }
  else{
  markupi = markup2 + markup3
  }
  
 
   $("table").append(markup,markupi);
  }
  	   
  }
});
}
})
 
 
 
  }

function approve(akey,usertoken){
 firebase.database().ref("requests").child(usertoken).child(akey).update({
status: "approved",
approved: "true"
})
location.reload()
}

function reject(akey,usertoken){
 firebase.database().ref("requests").child(usertoken).child(akey).update({
status: "rejected",
reject: "true"
})
location.reload()
}


   
  
  </script>

  
  <script>
  
  function admin(){
   $("#adminwelcome").show();
   $("#adminmenu").show();
   $("#staffwelcome").hide();
   $("#staffmenu").hide();
   $("#admincon").show();
   $("#adminmenu1").show();
  }
  
  
  function staff(){
  $("#adminwelcome").hide();
   $("#adminmenu").hide();
   $("#staffwelcome").show();
   $("#staffmenu").show();
    $("#staffcon").show();
    $("#staffmenu1").show();
   
  }
  
  firebase.auth().onAuthStateChanged(function(user) {
  if (user) {
    var userId = firebase.auth().currentUser.uid;
	firebase.database().ref('users').child(userId).once('value').then(function(snapshot) {
	var userdetail = snapshot.val();
	var fullname = userdetail["Fullname"];
	var username = userdetail["Username"];
	var level = userdetail["level"];
	if(level == 2){
	admin()
	adminloadreq()
	} else{
	staff()
	loadreq()
	}
	
	});

  } else {
	window.location = "/"
  }
  
  });
  



$("#fileupload").on("change", function(event){
var selectedFile = event.target.files[0];
alert(selectedFile)
});






function upload(){
var storageRef = firebase.storage().ref("/reqimages/");
var filename = selectedFile




}
  </script>
</head>

<body>

  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <h1><a href="index.html">E - <span class="logo_colour">MTracker</span></a></h1>
          <h2>A maintenance and repairs Tracker.</h2>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
		 <span id = "adminmenu1"> 
		 
		 <li style = ""><a><font size = "4"><b>Admin Dashboard</b></font></a></li>
		 </span>
		  <span id = "staffmenu1"> 
		 
		 <li style = ""><a><font size = "4"><b>Staff Dashboard</b></font></a></li>
		 </span>
          <li><a href="/dashboard">Home</a></li>
		  <span id = "adminmenu"> 
		  <li class="selected"><a href="/maintenance">Maintenance Requests</a></li>
          
		  </span>
		  <span id = "staffmenu">
		  <li class="selected"><a href="/maintenance">Maintenance Requests</a></li>
          <li><a href="#">Notifications(0)</a></li>
		  </span>
          <li><a href = "#" onclick = "signOut()">Sign Out</a></li>
        
        </ul>
      </div>
    </div>
    <div id="content_header"></div>
    <div id="site_content" >
      
      <div id="content" style = "width:100%">
	  <div id = "staffcon">
	  <div id = "mainreq">
	  <!-- Trigger/Open The Modal -->
<button id="myBtn">Click here to Create Request</button>
<br>


<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <div style="padding: 20px">Create Repair Request</div>
    </div>
	<div class = "reqinner">
    <div class="modal-body">
	<br>
	<label><b>Equipment/Gadget name/no:<b></label> <br>
	<input type = "text" id = "equpid"> 
	
	<br>
	<br>
	<label><b>Equipment/Gadget Description:</b></label>
	<br>
	<input type = "text" id = "description"> 
	<br>
	<br>
	<label><b>Fault/problem Details: </b></label>
	<br>
	<textarea id = "detail"></textarea> 
	<br>
	<br>
	<label><b>Department: </b></label> <br>
	<input type = "text" id = "department"> 
	<br>
	<br>
	<label><b>Upload a Picture(optional) </b></label> <br>
	<br>
	<input type ="file" id = "fileupload">
	<button id = "uploadbtn" onclick = "upload()">Upload</button>
	<br>
	<br>
	<button id="myBtn2" onclick = "createrep()">Create Request</button>
	<br>
	<br>
    </div>
	</div>
    
  </div>

</div>

	  
	  
<button id="myBtn3">Click here to View Your Requests</button>	  
	  
	  
<div id="myModal2" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <div style="padding: 20px">Your Requests</div>
    </div>
	<div class = "reqinner">
    <div class="modal-body">
	<br>
	<h1> Your Maintenance Request </h1>
<div class = "tab" id = "table">

<table>
  <tr>
    <th>Equipment name/no</th>
    <th>Description</th>
    <th>Details</th>
    <th>Date Requested</th>
    <th>Status</th>
	<th>Comment(by admin)</th>
	
  </tr>

</tr>
</table>
</div>
	<br>
	<br>
    </div>
	</div>
    
  </div>

</div>
	  
	  </div>
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  </div>
	  
	  <div id = "admincon">
	  <div id ="head2"> All Maintenance Request </div> 
	  <div class = "tab" id = "admintable">

<table>
  <tr>
	<th>Equipment name/no</th>
    <th>Description</th>
    <th>Details</th>
    <th>Date Requested</th>
    <th>Status</th>
	<th>Comment</th>
	<th>Department</th>
  </tr>

</tr>
</table>
</div>
	  
	  
	  
	  
	  
	  
	  
	  
	  </div>
	  
	   </div>
	   <br>
	   <br>
	   <br>
	   <br>
	   <br>
	   <br>
	   <br>
	   <br>
	   <br>
	   <br>
	   <br>
	   <br>
	   <br>
	   <br>
	   <br>
	   <br>
	   <br>
	   <br>
	   <br>
	   <br>
	   <br>
	   <br>
	   <form>
	   
	   </form>
      
		
     
      </div>
    </div>
    <div id="content_footer"></div>
    <div id="footer">
       
      <p>Copyright &copy; E-MTracker 2017 </p>
    </div>
  </div>
   <textarea class = "ttt"></textarea>
   <textarea class = "ttt"></textarea>
   
  
  
  <script>
  
  $(".ttt").prev("textarea").val("aaa")
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
    modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}



// Get the modal
var modal2 = document.getElementById('myModal2');

// Get the button that opens the modal
var btn2 = document.getElementById("myBtn3");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[1];

// When the user clicks the button, open the modal 
btn2.onclick = function() {
    modal2.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal2.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal2) {
        modal2.style.display = "none";
    }
}



</script>
</body>
</html>
