<!DOCTYPE HTML>
<html>

<head>
  <title>E -Maintenance</title>
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <script src="https://www.gstatic.com/firebasejs/3.8.0/firebase.js"></script>
  <script src = "js/jquery-3.1.1.min.js"></script>
  <script src = "js/firebaseapp.js"></script>
  <script>
  
  function admin(){
   $("#adminwelcome").show();
   $("#adminmenu").show();
   $("#staffwelcome").hide();
   $("#staffmenu").hide();
   $("#admincon").show();
  }
  
  
  function staff(){
  $("#adminwelcome").hide();
   $("#adminmenu").hide();
   $("#staffwelcome").show();
   $("#staffmenu").show();
    $("#staffcon").show();
   
  }
  
  firebase.auth().onAuthStateChanged(function(user) {
  if (user) {
    var userId = firebase.auth().currentUser.uid;
	firebase.database().ref('users').child(userId).once('value').then(function(snapshot) {
	var userdetail = snapshot.val();
	var fullname = userdetail["Fullname"];
	var username = userdetail["Username"];
	var level = userdetail["level"];
	if(level == 2){
	admin()
	} else{
	staff()
	}
	
	});

  } else {
	window.location = "/"
  }
  
  });
  

  </script>
</head>

<body>

  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <h1><a href="index.html">E - <span class="logo_colour">MTracker</span></a></h1>
          <h2>A maintenance and repairs Tracker.</h2>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <li><a href="/dashboard">Home</a></li>
		  <span id = "adminmenu"> 
		  <li class="selected"><a href="/maintenance">Maintenance Requests</a></li>
          <li><a href="/signup">Staffs</a></li>
		  </span>
		  <span id = "staffmenu">
		  <li class="selected"><a href="/maintenance">Maintenance Requests</a></li>
          <li><a href="/signup">Notifications(0)</a></li>
		  </span>
          <li><a href = "#" onclick = "signOut()">Sign Out</a></li>
        
        </ul>
      </div>
    </div>
    <div id="content_header"></div>
    <div id="site_content">
      
      <div id="content">
	  <div id = "staffcon">
	  <div id = "mainreq">
	  <!-- Trigger/Open The Modal -->
<button id="myBtn">Click to Request a Repair</button>
<br>

<h1> Your Maintenance Request </h1>
<div class = "tab" id = "table">

<table>
  <tr>
    <th>Equipment name/no</th>
    <th>Description</th>
    <th>Details</th>
    <th>Comment</th>
    <th>Request by</th>
    <th>Status</th>
  </tr>

</tr>
</table>
</div>
<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <div style="padding: 20px">Create Repair Request</div>
    </div>
	<div class = "reqinner">
    <div class="modal-body">
	<br>
	<label><b>Equipment name/no:<b></label> <br>
	<input type = "text" id = "equpid"> 
	
	<br>
	<br>
	<label><b>Description:</b></label>
	<br>
	<input type = "text" id = "description"> 
	<br>
	<br>
	<label><b>Detailed Information: </b></label>
	<br>
	<textarea id = "detail"></textarea> 
	<br>
	<br>
	<label><b>Department: </b></label> <br>
	<input type = "text" id = "department"> 
	<br>
	<br>
	<label><b>Upload a Picture(optional) </b></label> <br>
	<br>
	<input type ="file" id = "fileupload">
	<br>
	<br>
	<button id="myBtn2" onclick = "createrep()">Create Request</button>
	<br>
	<br>
    </div>
	</div>
    
  </div>

</div>

	  
	  
	  </div>
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  </div>
	  
	  <div id = "admincon">
	  <h1> All Maintenance Request </h1> 
	  <div class = "tab" id = "admintable">

<table>
  <tr>
    <th>Equipment name/no</th>
    <th>Description</th>
    <th>Details</th>
    <th>Edit Comment</th>
    <th>Request by</th>
    <th>Edit Status</th>
    <th>Assign</th>
  </tr>

</tr>
</table>
</div>
	  
	  
	  
	  
	  
	  
	  
	  
	  </div>
	  
	   </div>
	   <br>
	   <br>
	   <br>
	   <br>
	   <br>
	   <br>
	   <br>
	   <br>
	   <br>
	   <br>
	   <br>
	   <br>
	   <br>
	   <br>
	   <br>
	   <br>
	   <br>
	   <br>
	   <br>
	   <br>
	   <br>
	   <br>
	   <form>
	   
	   </form>
      
		
        
      </div>
    </div>
    <div id="content_footer"></div>
    <div id="footer">
       
      <p>Copyright &copy; E-MTracker 2017 </p>
    </div>
  </div>
  <script>
  function signOut(){
  firebase.auth().signOut().then(function() {
  window.location = "/signin"
  console.log('Signed Out');
}, function(error) {
  console.error('Sign Out Error', error);
  window.location = "/"
});
  }
  
 firebase.auth().onAuthStateChanged(function(user) {
  if (user) {
    // User is signed in.
    var uid = user.uid;
  } else {
	window.location = "/"
  }
});

  </script>
  
  <script>
   function createrep(){
  var equip = $("#equpid").val()
  var describe = $("#description").val()
  var detail = $("#detail").val()
  var depart = $("#department").val()
  var dbref = firebase.database().ref("requests")
  var user = firebase.auth().currentUser;
  userId = user.uid;
  dbref.child(userId).push({
  equipment: equip,
  description: describe,
  details: detail,
  department: depart
  })
  
  }
  </script>
  
  
  
  <script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
    modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>
</body>
</html>
