<!DOCTYPE HTML>
<html>

<head>
  <title>E - Maintenance</title>
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <script src="https://www.gstatic.com/firebasejs/3.8.0/firebase.js"></script>
  <script src = "js/jquery-3.1.1.min.js"></script>
  <script src = "js/firebaseapp.js"></script>
  
 </head>
 <body>
 <input type = "file" id = "file"> <button id = "uploadbtn" onclick = "fileupload()">Upload</button>
 
 
 <script>
 //$("#uploadbtn").hide()
 //$(document).ready(function(){

function fileupload(){
var file = document.getElementById("file").files[0]
console.log(file)
var fileName = file.name;
console.log(file)
var storageRef = firebase.storage().ref();
var spaceRef = storageRef.child(fileName);
var uploadTask = spaceRef.put(file);

}
 
 
// $("#file").on("change", function(event){
// $("#uploadbtn").show()
 
// });
 
//});
 
 </script>
 
 </body>
 </html>