<!DOCTYPE HTML>
<html>

<head>
  <title>E - Maintenance</title>
  <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <h1><a href="index.html">E - <span class="logo_colour">MTracker</span></a></h1>
          <h2>A maintenance and repairs Tracker.</h2>
        </div>
      </div>
      <div id="menubar">
	  <div class = "signinmenu">
        <ul id="menu">
          <li><a href="/">Home</a></li>
          <li><a href="/signin">Sign In</a></li>
          <li class="selected"><a href="#">Sign up</a></li>
          <li><a href="#">About</a></li>
        </ul>
		</div>
      </div>
    </div>
    <div id="content_header"></div>
    <div id="site_content">
      
      <div id="loginform">
        <div id = "logininner">
		
		
	
<div class="box">
<div class = "boxcon">
<h1 class = "headin">SIGN UP</h1>
<br>
Full name: &nbsp&nbsp<input type="email" name="fullname" placeholder="Full name"  class="email" />
<br>
Username: &nbsp&nbsp<input type="text" name="username" placeholder="Username"  class="email" />
<br>
Email: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input type="text" name="email" placeholder="email"  class="email" />
  
<br>Password: &nbsp&nbsp <input type="password" name="email" placeholder="password"  class="email" />
 <br> 
 <br> 
 <br> 
<button type = "button" class="btn">Sign Up</button>

  </div>
</div>

<br>
		</div>
    
      </div>
    </div>
    <div id="content_footer"></div>
    <div id="footer">
      <p><a href="/">Home</a> | <a href="/signup">Sign up</a> | <a href="/signin">Sign In</a> | <a href="#">About</a>
      <p>Copyright &copy; E-MTracker 2017 </p>
    </div>
  </div>
</body>
</html>
