<!DOCTYPE HTML>
<html>

<head>
  <title>E - Maintenance</title>
  <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="index.html">E - <span class="logo_colour">MTracker</span></a></h1>
          <h2>A maintenance and repairs Tracker.</h2>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li><a href="#">Home</a></li>
          <li class="selected"><a href="#">Sign In</a></li>
          <li><a href="#">Sign up</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
    </div>
    <div id="content_header"></div>
    <div id="site_content">
      
      <div id="loginform">
        <div id = "logininner">
		
		
		
<div class="box">
<div class = "boxcon">
<h1 class = "headin">LOG IN</h1>
<br>

Email: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input type="email" name="email" placeholder="Email"  class="email" />
  
<br>Password: <input type="password" name="email" placeholder="password"  class="email" />
 <br> 
 <br> 
 <br> 
<button class="btn">Sign In</button>
</div>
</div>
</div>
</div>
</div>
<br>
		
    
      
    
    <div id="content_footer"></div>
    <div id="footer">
      <p><a href="index.html">Home</a> | <a href="examples.html">Sign up</a> | <a href="page.html">Sign In</a> | <a href="another_page.html">About</a> | <a href="contact.html">Contact Us</a></p>
      <p>Copyright &copy; E-MTracker 2017 </p>
    </div>
  </div>

</body>
</html>
